{{ form_start(form) }}
               {{ form_row(form.title) }} 

            {{ form_row(form.start) }} 
            {{ form_row(form.end) }} 
            {{ form_row(form.description) }} 
            {{ form_row(form.backgroundColor) }} 
            {{ form_row(form.borderColor) }} 
    

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
