{% extends 'base.html.twig' %}

{% block title %}Ajouter une photo{% endblock %}

{% block body %}

<section class="containerDashboard">
    <nav class="slidebar">
        <ul>
            <li class="titleSlidebar titleAdmin">Tableau de bord<br>Administrateur</li>
            <li class="titleSlidebar"><a href="{{ path('app_dashboard') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Accueil</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_upcoming_reservations') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les réservations à venir</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_previous_reservations') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les réservations passées</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_period') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les périodes</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_gite') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Le gîte</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_category') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les photos</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_review') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les avis</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_activity') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les activités</a></li>
        </ul>
    </nav>

    <div class="content">
        <div class="title gite-title center">
            <h1>Ajouter une image</h1>
        </div>
        <div class="registerForm ">
            {{ form_start(form) }}
            {{ form_row(form.picture) }}
            {{ form_row(form.description) }}
            <div class="formPictureCategory">
                {% for child in form.category %}
                    <div style="display: block; margin-bottom: 5px;">
                        {{ form_widget(child) }}
                        {{ form_label(child) }}
                    </div>
                {% endfor %}
            </div>
            <div class="pictureFormSubmit">
                {{ form_row(form.valider) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}