{% extends 'base.html.twig' %}

{% block title %}Mes anciens séjours{% endblock %}

{% block body %}

    <div class="title gite-title center">
        <h2>Mes anciens séjours</h2>
    </div>

    <div class="breadcrumb">
        <a href="{{ path('app_profil', {'id': app.user.id}) }}"><button class="btn">Retour</button></a>
    </div>

    <section class="resaContaint">   
        {% if previousReservations is not empty %}
            <table class="tableGite">
                <thead>
                    <tr>
                        <th></th>
                        <th>Référence de la réservation</th>  
                        <th>Date de réservation</th> 
                        <th>Date d'arrivée</th>
                        <th>Date de départ</th>
                        <th>Prix total</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                    {% for previousReservation in previousReservations %}
                    <tr>
                        <td> {# Si l'utilisateur connecté peut écrire un avis, alors on affiche le bouton #}
                            {% if app.user.canWriteReview(previousReservation) and previousReservation.departureDate|date('U') < 'now'|date('U') %}
                                <button class="btn btnReview"><a href="{{ path('app_write_review', {'id': app.user.id, 'reservation_id': previousReservation.id}) }}">Écrire un avis</a></button>
                            {% endif %}
                        </td>
                        <td>{{ previousReservation.reference }}</td>
                        <td>{{ previousReservation.reservationDate|date('d-m-Y') }}</td>
                        <td>{{ previousReservation.arrivalDate|date('d-m-Y') }}</td>
                        <td>{{ previousReservation.departureDate|date('d-m-Y') }}</td>
                        <td>{{ previousReservation.totalPrice }} €</td>
                        <td><a href="{{ path('show_reservation', {'id': previousReservation.id}) }}"><i class="fa-solid fa-circle-info"></i></a></td>
                    </tr>   
                    {% endfor %}
                </tbody>
            </table>        
        {% else %}
            <p class="profilResa">Vous n'avez aucune réservation passées.</p>
        {% endif %}
    </section>

{% endblock %}