{% extends 'base.html.twig' %}

{% block title %}Gîte à Orbey, Alsace | Confirmation de réservation{% endblock %}

{% block meta_description %} {{ description }} {% endblock %}

{% block body %}

    <div class="title gite-title center">
         <h1>Confirmer votre réservation</h1>
    </div>

    <section class="head-resa">
        <div class="breadcrumb">
            <a href="{{ path('app_reservation') }}"><button class="btn">Retour</button></a>
        </div>
        {# Affichage du compte à rebours #}
        <div id="countdown"></div>
    </section>

        {# Si l'utilisateur est connecté et que son compte à été validé #}
        {% if app.user and app.user.isVerified == true  %}
           <section class="sectionLogin">
                <div class="title gite-title titlecenter">
                        <h2>Connection</h2>
                    </div>
                <p>Vous êtes connecter avec ce compte : </p>
                <p>{{ app.user.email }}</p>
                <p>Connectez-vous avec un autre compte <a aria-current="page" href="{{ path('app_login') }}"><i class="fa-solid fa-circle-arrow-right"></i></a></p>
            </section>

            <section class="recap">
                <div class="recapTop">
                    <div class="recapRight">
                        <h3 class="recapTitle">Vos dates</h3>
                        <p> du {{ arrivalDate }} au {{ departureDate }} </p>
                    </div>
                    <div class="recapLeft">
                        <h3 class="recapTitle">Détails du prix</h3>
                        <p>{{ nightPrice }}€ x {{ numberNight }} nuit(s) : {{ nightPrice * numberNight }} €</p>
                        <p>Frais de ménage: {{ cleaningCharge }} €</p>
                    </div>
                </div>

                <div class="line"></div>

                <div class="recapBottom">
                    <div class="recapRight">
                        <h3 class="recapTitle">Nombre de personne(s)</h3>
                        <p>{{ numberAdult}} adulte(s)</p>
                        <p>{{ numberKid }} enfant(s)</p>
                    </div>
                    <div class="recapLeft">
                        <h3 class="recapTitle rigtht">Total <strong>{{ totalPrice }} €</strong></h3>
                    </div>
                </div>
            </section>

            <div class="title gite-title center">
                <h2>Vos coordonnées</h2>
            </div>

           
            <section class="resaForm">
                <div class="row"> 
                    {{ form_start(form) }}
                    {{ form_row(form.lastName, {'attr': {'class': 'input-name'}}) }}
                    {{ form_row(form.firstName) }}
                </div>
                <div class="row">
                    {{ form_row(form.address) }}
                </div>
                <div class="row">
                    {{ form_row(form.cp) }}
                    {{ form_row(form.city) }}
                </div>
                <div class="row">
                    {{ form_row(form.country) }}
                    {{ form_row(form.phone) }}
                </div>
                <div class="row">
                    {{ form_row(form.isMajor) }}
                </div>
                {{ form_row(form.payer) }}
                {{ form_end(form) }}
            </section>
        {% endif %}

        {# Si l'utilisateur n'est pas connecté #}
        {% if not app.user  %}
            <p class="pBold">Veuillez vous connecter pour confirmer votre réservation 
                <a aria-current="page" href="{{ path('app_login') }}"> ici <i class="fa-solid fa-circle-arrow-right"></i></a>
            Ou créer un compte <a aria-current="page" href="{{ path('app_register') }}"> par ici<i class="fa-solid fa-circle-arrow-right"></i></a></p>      
        {% endif %}  

        {# Si le compte n'a pas été validé #}
        {% if app.user and app.user.isVerified == false  %}
            <section class="section-profil">
                <p class="profilResa"><i class="fa-solid fa-triangle-exclamation"></i> Votre compte n'est pas activé,<br>Veuilliez consultez vos mail et cliquer sur le lien d'activation.
                <br><br> renvoyer le lien d'activation sur votre boîte mail <a href="{{ path('resend_verif') }}">ici </a></p>
            </section>
        {% endif %} 
{% endblock %}
