{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<div class="title gite-title center">
        <h1>Catégorie d'image</h1>
</div>

{% for type, messages in app.session.flashbag.all() %}
{% for message in messages %}
    <div class="alert alert-{{ type }}">
        {{ message }}
    </div>
{% endfor %}
{% endfor %}


<div class="cards">
{% for category in categories %}

<div class="card">
    <a class="cardLink" href="{{ path('show_category', {'id': category.id}) }}">
    {{ category }}
    </a>
<div class="cardBtns">
    <button class="btn edit cardBtn"><a href="{{ path ('edit_category', {'id': category.id}) }}" class="cardLink"><i class="fa-solid fa-pen-to-square"></i></a></button>
    <button class="btn delete cardBtn"><a href="{{ path ('delete_category', {'id': category.id}) }}" class="cardLink"><i class="fa-solid fa-trash-can"></i></a></button>

</div>
    </div>    

{% endfor %}
</div>
<div class="btnRight">
    <button class="btn add categoryBtnAdd"><a href="{{ path ('new_category') }}" class="btn add">Ajouter une catégorie</a></button>
    <button class="btn add categoryBtnAdd"><a href="{{ path ('new_picture') }}" class="btn add">Ajouter une image</a></button>

</div>

{% endblock %}
