{% extends 'base.html.twig' %}

{% block title %}Galerie photos{% endblock %}

{% block meta_description %} {{ description }} {% endblock %}


{% block body %}

{% for flash_message in app.flashes('error') %}
    {% if not app.session.get('success_flash_shown') %}

        <script>
            Swal.fire({
                icon: "error",
                title: "Erreur",
                text: "{{ flash_message|raw }}",
            });
        </script>
        {% set _ = app.session.set('error_flash_shown', true) %}
    {% endif %}
{% endfor %}

{% for flash_message in app.flashes('success') %}
    {% if not app.session.get('success_flash_shown') %}
        <script>
            Swal.fire({
                icon: "success",
                title: "Succès",
                text: "{{ flash_message|raw }}",
            });
        </script>
        {% set _ = app.session.set('error_flash_shown', true) %}
    {% endif %}
{% endfor %}

    <div class="title gite-title center">
          <h1> {{ category }} </h1>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg">
        <div class="modal-prev" onclick="changeModalImage(-1)"></div> 
        <div class="modal-next" onclick="changeModalImage(1)"></div> 
    </div>

<div id="carouselModal">
    <div class="gallery">
        {% for picture in pictures %}
            <div class="gallery-item"> 
                <img src="{{ asset(picture.url) }}" alt="{{ picture.description }}" class="modal-trigger" onclick="openModal('{{ asset(picture.url) }}')">
            </div>


        {% if is_granted('ROLE_ADMIN') %}
            <button class="btn delete cardBtn"><a href="{{ path('delete_picture', {'id': category.id, 'id_picture': picture.id }) }}" class="cardLink"><i class="fa-solid fa-trash-can"></i></a></button>
        {% endif %}
        {% endfor %}
    </div>
</div>


</div>


{% endblock %}