{% extends 'base.html.twig' %}

{% block title %}Galerie photos{% endblock %}

{% block meta_description %} {{ description }} {% endblock %}


{% block body %}

{% for flash_message in app.flashes('error') %}
    <script>
        Swal.fire({
            icon: "error",
            title: "Erreur",
            text: "{{ flash_message }}",
        });
    </script>
{% endfor %}
{% for flash_message in app.flashes('success') %}
    <script>
        Swal.fire({
            icon: "success",
            title: "Succès",
            text: "{{ flash_message }}",
        });
    </script>
{% endfor %}

    <div class="title gite-title center">
          <h1> {{ category }} </h1>
    </div>

    <div id="myModal" class="modal">
<span class="close">&times;</span>
<img class="modal-content" id="modalImg">
<div id="modalCarousel" class="carousel__container"></div>
<button class="modal-prev" onclick="changeModalImage(-1)">&#10094;</button>
<button class="modal-next" onclick="changeModalImage(1)">&#10095;</button>

</div>


    <div class="gallery">
        {% for picture in pictures %}
            <div class="gallery-item">
                <img src="{{ asset(picture.url) }}" alt="{{ picture.description }}" class="modal-trigger" onclick="openModal('{{ asset(picture.url) }}')">
            </div>
        {% endfor %}
    </div>


</div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btnRight">
            <button class="btn add categoryBtnAdd"><a href="{{ path ('new_picture') }}" class="btn add">Ajouter une image</a></button>
        </div>

        <img src="{{ asset(picture.url) }}" alt="{{ picture.description }}"/>
        
    {% endif %}

{% endblock %}