
{% extends 'base.html.twig' %}

{% block title %}Gestion des gîtes{% endblock %}

{% block body %}

{% for flash_message in app.flashes('error') %}
    <script>
        Swal.fire({
            icon: "error",
            title: "Erreur",
            text: "{{ flash_message|raw }}",
        });
    </script>
{% endfor %}
{% for flash_message in app.flashes('success') %}
    <script>
        Swal.fire({
            icon: "success",
            title: "Succès",
            text: "{{ flash_message|raw }}",
        });
    </script>
{% endfor %}

<div class="containerDashboard">
    <div class="slidebar">
        <ul>
            <li class="titleSlidebar titleAdmin">Tableau de bord<br>Administrateur</li>
            <li class="titleSlidebar"><a href="{{ path('app_dashboard') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Accueil</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_upcoming_reservations') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les réservations à venir</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_previous_reservations') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les réservations passées</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_period') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les périodes</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_gite') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Le gîte</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_category') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les photos</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_review') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les avis</a></li>
            <li class="linkSlidebar"><a href="{{ path('app_activity') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les activités</a></li>
        </ul>
    </div>

<div class="content">
    <div class="title gite-title center">
        <h1>Listes des gîtes</h1>
    </div>

    <table class="tableGite">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Capacité</th>
                <th>Description</th>
                <th>Prix de la nuitée</th>
                <th>Forfait ménage</th>
                <th>Modifier / Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for gite in gites %}
            <tr>
                <td>{{ gite.name }}</td>
                <td>{{ gite.address }}</td>
                <td>{{ gite.cp}}</td>
                <td>{{ gite.city}}</td>
                <td>{{ gite.capacity }} personnes</td>
                <td class="tdDescription">{{ gite.description }}</td>
                <td>{{ gite.price }} €</td>
                <td>{{ gite.cleaningCharge }} €</td>
                <td>      
                    <a href="{{ path ('edit_gite', {'id': gite.id}) }}" class="btn edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ path ('delete_gite', {'id': gite.id}) }}" class="btn delete"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>   
            {% endfor %}
        </tbody>
    </table>        




    <div class="addPeriodSection">

    <div class="title gite-title center">
            <h2>Ajouter un gîte</h2>
    </div>

    <div class="addPeriodForm">
        {{ form_start(form) }} 
            {{ form_row(form.name) }} 
            {{ form_row(form.address) }} 
            {{ form_row(form.cp) }} 
            {{ form_row(form.city) }} 
            {{ form_row(form.capacity) }} 
            {{ form_row(form.price) }} 
            {{ form_row(form.cleaningCharge) }} 
        {{ form_end(form) }}
</div>





</div>

{% endblock %}
