{% extends 'base.html.twig' %}

{% block title %}Gestion des images{% endblock %}

{% block body %}

{% for flash_message in app.flashes('error') %}
        <script>
            Swal.fire({
                icon: "error",
                title: "Erreur",
                text: "{{ flash_message|raw }}",
            });
        </script>
{% endfor %}
{% for flash_message in app.flashes('success') %}
  
        <script>
            Swal.fire({
                icon: "success",
                title: "Succès",
                text: "{{ flash_message|raw }}",
            });
        </script>
{% endfor %}

    <section class="containerDashboard">
        <nav class="slidebar">
            <ul>
                <li class="titleSlidebar titleAdmin">Tableau de bord<br>Administrateur</li>
                <li class="titleSlidebar"><a href="{{ path('app_dashboard') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Accueil</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_upcoming_reservations') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les réservations à venir</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_previous_reservations') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les réservations passées</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_period') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les périodes</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_gite') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Le gîte</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_category') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les photos</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_review') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les avis</a></li>
                <li class="linkSlidebar"><a href="{{ path('app_activity') }}" class="linkAdmin"><i class="fa-solid fa-caret-right"></i> Les activités</a></li>
            </ul>
        </nav>

        <div class="content">
            <div class="title gite-title center">
                <h1> {{ category }} </h1>
            </div>
            
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modalImg">
                <div class="modal-prev" onclick="changeModalImage(-1)"></div> 
                <div class="modal-next" onclick="changeModalImage(1)"></div> 
            </div>

            <div id="carouselModal">
                <div class="gallery">
                    {% for picture in pictures %}
                        <div class="gallery-item"> 
                            <img src="{{ asset(picture.url) }}" alt="{{ picture.description }}" class="modal-trigger" onclick="openModal('{{ asset(picture.url) }}')">
                        </div>
                        <button class="btn delete cardBtn"><a href="{{ path('delete_picture', {'id': category.id, 'id_picture': picture.id }) }}" class="cardLink"><i class="fa-solid fa-trash-can"></i></a></button>
                        <button class="btn delete cardBtn"><a href="{{ path('edit_picture', {'category_id': category.id, 'id': picture.id }) }}" class="cardLink"><i class="fa-solid fa-pen-to-square"></i></a></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}